body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
    overflow: hidden; /* Stops scrollbars when button moves */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container img {
    max-width: 300px;
    border-radius: 20px;
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    min-width: 100px;
}

#no-button {
    transition: 0.1s ease; /* Fast movement */
}
